@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lusitana';
  src: url('/fonts/Lusitana-Regular.ttf') format('ttf'),
       url('/fonts/Lusitana-Bold.woff') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lusitana', sans-serif;
}
